<h2>Make Sale</h2>
<%= render  ReorderModuleWeb.ReorderView, "new.html",
                                conn: @conn,
                                product: @product,
                                reorder_changeset: @reorder_changeset %>
